@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fixed {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  top: 0;
  bottom: 0;
}

.scroll {
  overflow-y: scroll;
  position: relative;
  scroll-behavior: smooth;
  transition: .2s;
  /* overflow-x: hidden; */
}